<div>
  <div
    [style.background-image]="
      'url(../../../../../assets/images/Inicio-100.jpg)'
    "
    [style.background-size]="'cover'"
    [style.background-position]="'center'"
    [style.background-repeat]="'no-repeat'"
    style="height: 100vh; width: 100%"
  >
    <app-navbar></app-navbar>
  </div>
  <div class="cont-bg-somos">
    <div class="cont-somos">
      <div class="mt-2">
        <img
          class="img-somos"
          src="../../../assets//images/gatito.png"
          alt=""
        />
      </div>
      <div class="cont-text-somos px-3 mt-4">
        <h2 class="my-3">QUIÉNES SOMOS</h2>
        <p class="texto-centrado text-p my-3">
          En TygusPet, brindamos servicios veterinarios de calidad y contamos
          con una tienda online, donde encontrarás todo para tus mascotas.
        </p>
        <p class="text-p mb-3 texto-centrado">
          Tu confianza, es nuestra prioridad.
        </p>
        <button class="btn btn-contacta mt-3">CONTÁCTANOS</button>
      </div>
    </div>
  </div>
  <div class="cont-bg-services">
    <div class="cont-services">
      <h2 class="subtitle">SERVICIOS</h2>
      <div class="services">
        <div class="tarjeta mx-3">
          <div class="cuerpo">
            <img
              class="service-icon"
              src="/assets/images/clinica.png"
              alt="clnica"
            />
          </div>
          <div class="pie">
            <p>Clínica</p>
          </div>
        </div>
        <div class="tarjeta mx-3">
          <div class="cuerpo">
            <img
              class="service-icon"
              src="/assets/images//laboratorio.png"
              alt="clnica"
            />
          </div>
          <div class="pie">
            <p>Laboratorios</p>
          </div>
        </div>
        <div class="tarjeta mx-3">
          <div class="cuerpo">
            <img
              class="service-icon"
              src="/assets/images/peluqueria.png"
              alt="clnica"
            />
          </div>
          <div class="pie">
            <p>Estética</p>
          </div>
        </div>
        <div class="tarjeta mx-3">
          <div class="cuerpo">
            <img
              class="service-icon"
              src="/assets/images/tienda.png"
              alt="clnica"
            />
          </div>
          <div class="pie">
            <p>Tienda</p>
          </div>
        </div>
      </div>
      <div class="tienda">
        <h3 class="tienda-linea">TIENDA EN LÍNEA</h3>
        <H2 class="mejores-prod">NUESTROS MEJORES PRODUCTOS</H2>
        <div class="card-container">
          <p-carousel
            [value]="products"
            [numVisible]="3"
            [numScroll]="3"
            [circular]="false"
            [responsiveOptions]="responsiveOptions"
          >
            <ng-template let-product pTemplate="item">
              <div class="product-item">
                <div class="product-item-content">
                  <div
                    class="mb-1"
                    style="display: flex; justify-content: center"
                  >
                    <img
                      [src]="product.image"
                      [alt]="product.name"
                      class="product-image"
                    />
                  </div>
                  <div>
                    <p class="mb-1 product-name">
                      {{ product.name }}
                    </p>
                    <div class="d-flex">
                      <p class="mt-0 mb-3 elemento" style="text-align: left">
                        {{ "$" + product.price }}
                      </p>
                      <button class="boton-imagen"></button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
