.cont-somos{
  display: flex;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}
.cont-bg-somos{
  background-color: #E4B50C;
  padding: 40px 20px;
}

.img-somos{
  width: 300px;
}

.cont-text-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.texto-centrado{
  text-align: center;
}

.btn-contacta{
  color: #43B2B5;
  background-color: white;
  border-radius: 15px;
  font-weight: 700;
  font-family: 'Refsan', fallback, sans-serif;
  font-size: 1.2rem;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3)
}

.text-p{
  font-size: 20px;
}

@media (max-width: 1250px) {
.cont-somos {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .cont-somos {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .img-somos {
    width: 150px;
  }
}

/* servicios */
.cont-bg-services{
  background-color: #f4f4f4;
}

.services{
  display: flex;;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
}
.subtitle{
  color: #43B2B5;
  font-weight: 900;
  font-size: 2.3rem;
}
.cont-services{
  max-width: 95%;
  width: 95%;
  padding: 1.5rem;
  margin: 0 auto;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  /* box-shadow: 2px 2px 8px 4px #d3d3d3d1; */
  border-radius: 15px;
  background: #92D0D2;
  margin-top: 13px;
}

.cuerpo{}

.pie {
  background-color: #eca46b;
  border-radius: 0 0 15px 15px;
  text-align: center;
  font-size: 25px;
}

.pie p{
  color: white;
  margin-bottom: 0px;
}

.service-icon{
  width: 200px;
}

@media (max-width: 480px) {
.cont-services {
    max-width: 100%;
    padding: 0.5rem;
  }
}

/* TIENDA */
.tienda{
  margin-top: 3rem;
}

.mejores-prod{
  color: #43B2B5;
  font-size: 1.5rem;
}

.tienda-linea{
  color: #E4B50C;
  font-size: 1.3rem;

}


/* Carousel */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

:host ::ng-deep {
  .product-item {
    .product-item-content {
      border-radius: 25px;
      margin: .3rem;
      text-align: center;
      padding: 1rem ;
      background-color: white;
      width: 200px;
      height: 340px;
      position: relative;
    }

    .product-image {
      width: 200PX;
    }
  }
}

@media (max-width: 780px) {
  .card-container {
      display: block;

    }
}

.elemento {
  position: absolute;
  bottom: 5px;
  left: 1rem;
}

.product-name{
  color: #43B2B5;
  text-align: left;
  font-size: 0.9rem;
}

.boton-imagen {
  background-image: url('../../../assets/images/compras.png');
  background-size: cover;
  /* Esto hará que la imagen cubra todo el botón */
  background-repeat: no-repeat;
  /* Esto evitará que la imagen se repita */
  width: 50px;
  /* Define el ancho del botón */
  height: 50px;
  /* Define la altura del botón */
  border: none;
  border-radius: 10px;
  /* Esto eliminará el borde del botón */
  cursor: pointer;
  /* Cambiará el cursor a un puntero cuando se pase sobre el botón */
  position: absolute;
  bottom: 10px;
  right: 1rem;
}

:host ::ng-deep .card-container .p-carousel .p-carousel-indicators {
  display: none !important;
}

:host ::ng-deep .p-carousel-item{
  display: flex !important;
  justify-content: center !important;
}

:host ::ng-deep .card-container .p-carousel .p-carousel-next,
::ng-deep .card-container .p-carousel .p-carousel-prev {
  color: #43B2B5;
}

:host ::ng-deep .p-carousel .p-carousel-next svg,
:host ::ng-deep .p-carousel .p-carousel-prev svg {
  width: 40px;
  /* Cambia al tamaño deseado */
  height: 40px;
  /* Cambia al tamaño deseado */
}

/* TESTIMONIALS */

.cont-bg-testimonios {
  position: relative;
}

.cont-bg-testimonios::before{
  content: "";
  background-image: url('../../../assets/images/interior-clinica-veterinaria.jpg');
  background-size: cover;
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 30rem;
}

.cont-testimonios{
  padding: 3rem 12rem;
}

.card-test {
  padding: 1.5rem 3rem;

}

:host ::ng-deep .cont-testimonios .p-carousel .p-carousel-next,
::ng-deep .cont-testimonios .p-carousel .p-carousel-prev {
  color: #92D0D2;
}

:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: #92D0D2;
  /* Cambia a tu color deseado */
}
:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #ced4da;
  /* Cambia a tu color deseado */
}

@media (max-width: 480px) {
.cont-testimonios {
    padding: 3rem 0;
  }
.cont-bg-testimonios::before {
  height: 80vh;
  width: 100%
}
.card-test {
  padding: 1rem;

}
}

@media (max-width: 780px) {
  .cont-testimonios {
    padding: 3rem 0;
  }

}
