<div>
  <div
    [style.background-image]="
      'url(../../../../../assets/images/Inicio-100.jpg)'
    "
    [style.background-size]="'cover'"
    [style.background-position]="'center'"
    [style.background-repeat]="'no-repeat'"
    style="height: 100vh; width: 100%"
  >
    <app-navbar></app-navbar>
  </div>
  <div class="cont-bg-somos">
    <div class="cont-somos">
      <div class="mt-2">
        <img
          class="img-somos"
          src="../../../assets//images/gatito.png"
          alt=""
        />
      </div>
      <div class="cont-text-somos px-3 mt-4">
        <h2 class="my-3">QUIÉNES SOMOS</h2>
        <p class="texto-centrado text-p my-3">
          En TygusPet, brindamos servicios veterinarios de calidad y contamos
          con una tienda online, donde encontrarás todo para tus mascotas.
        </p>
        <p class="text-p mb-3 texto-centrado">
          Tu confianza, es nuestra prioridad.
        </p>
        <button class="btn btn-contacta mt-3">CONTÁCTANOS</button>
      </div>
    </div>
  </div>
  <div class="cont-bg-services">
    <div class="cont-services">
      <h2 class="subtitle">SERVICIOS</h2>
      <div class="services">
        <div class="tarjeta mx-3">
          <div class="cuerpo">
            <img
              class="service-icon"
              src="../../../assets/images/clinica.png"
              alt="clnica"
            />
          </div>
          <div class="pie">
            <p>Clínica</p>
          </div>
        </div>
        <div class="tarjeta mx-3">
          <div class="cuerpo">
            <img
              class="service-icon"
              src="../../../assets/images//clinica.png"
              alt="clnica"
            />
          </div>
          <div class="pie">
            <p>Clínica</p>
          </div>
        </div>
        <div class="tarjeta mx-3">
          <div class="cuerpo">
            <img
              class="service-icon"
              src="../../../assets/images//clinica.png"
              alt="clnica"
            />
          </div>
          <div class="pie">
            <p>Clínica</p>
          </div>
        </div>
        <div class="tarjeta mx-3">
          <div class="cuerpo">
            <img
              class="service-icon"
              src="../../../assets/images//clinica.png"
              alt="clnica"
            />
          </div>
          <div class="pie">
            <p>Clínica</p>
          </div>
        </div>
      </div>
      <div class="tienda"></div>
    </div>
  </div>
</div>
