.cont-somos{
  display: flex;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}
.cont-bg-somos{
  background-color: #E4B50C;
  padding: 40px 20px;
}

.img-somos{
  width: 300px;
}

.cont-text-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.texto-centrado{
  text-align: center;
}

.btn-contacta{
  color: #43B2B5;
  background-color: white;
  border-radius: 15px;
  font-weight: 700;
  font-family: 'Refsan', fallback, sans-serif;
  font-size: 1.2rem;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3)
}

.text-p{
  font-size: 20px;
}

@media (max-width: 1250px) {
.cont-somos {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .cont-somos {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .img-somos {
    width: 150px;
  }
}

/* servicios */
.cont-bg-services{
  background-color: #f4f4f4;
}

.services{
  display: flex;;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
}
.subtitle{
  color: #43B2B5;
  font-weight: 900;
  font-size: 2.3rem;
}
.cont-services{
  max-width: 95%;
  width: 95%;
  padding: 1.5rem;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  /* box-shadow: 2px 2px 8px 4px #d3d3d3d1; */
  border-radius: 15px;
  background: #92D0D2;
  margin-top: 13px;
}

.cuerpo{}

.pie {
  background-color: #eca46b;
  border-radius: 0 0 15px 15px;
  text-align: center;
  font-size: 25px;
}

.pie p{
  color: white;
  margin-bottom: 0px;
}

.service-icon{
  width: 200px;
}

@media (max-width: 480px) {
.cont-services {
    max-width: 100%;
    padding: 0.5rem;
  }
}

/* TIENDA */
.tienda{
  margin-top: 3rem;
}

.mejores-prod{
  color: #43B2B5;
  font-size: 1.5rem;
}

.tienda-linea{
  color: #E4B50C;
  font-size: 1.3rem;

}

