@font-face {
  font-family: 'Montserrat Black';
  src: url('../assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Refsan';
  src: url('../assets/fonts/REFSAN.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Montserrat Black', fallback, sans-serif;
}

h2,h3,h4 {
  font-family: 'Montserrat Bold', fallback, sans-serif;
}

p {
  font-family: 'Refsan', fallback, sans-serif;
}
